<mat-form-field
        [ngSwitch]="shapeProp.getTypeName()">
    <input matInput *ngSwitchCase="'float'"
          type="number"
          [(ngModel)]="value"
        [placeholder]="shapeProp.propName" >
    <input matInput *ngSwitchCase="'color'"
          type="text"
          [(ngModel)]="value"
        [placeholder]="shapeProp.propName"
        (click) = "openColorPicker()" >
    <input matInput *ngSwitchDefault
        type="text"
        [(ngModel)]="value"
        [placeholder]="shapeProp.propName">

</mat-form-field>
