<app-header [style.height.px]="headerHeight"></app-header>
<app-scene-pane
    [style.top.px]="headerHeight"
    [style.width.px] = "scenePaneWidth-2"
    [style.top.px]="headerHeight"
    [style.bottom.px]="footerHeight"></app-scene-pane>
<vertical-bar name="sceneBar"
    style="left:0px"
    [style.top.px]="headerHeight"
    [style.width.px] = "vertBarWidth"
    [style.left.px]="scenePaneWidth"
    [style.bottom.px]="footerHeight"></vertical-bar>
<scene-editor style="text-align:center; position: absolute"
    [style.top.px]="headerHeight"
    [style.left.px]="scenePaneWidth+vertBarWidth"
    [style.right.px]="libraryPaneWidth+vertBarWidth"
    [style.bottom.px]="footerHeight"
    [scene]="getActiveScene()">
</scene-editor>
<vertical-bar name="libraryBar"
    style = "right=0px"
    [style.top.px]="headerHeight"
    [style.width.px] = "vertBarWidth"
    [style.right.px]="libraryPaneWidth"
    [style.bottom.px]="footerHeight"></vertical-bar>
<app-library-pane
    [style.width.px]="libraryPaneWidth-2"
    [style.top.px]="headerHeight"
    [style.bottom.px]="footerHeight"></app-library-pane>
<app-footer [style.height.px]="footerHeight"></app-footer>
