<div class="time-line-wrapper" #timeLineWrapper>
    <div class="time-marker"
        *ngFor="let timeMarker of sceneService.activeTimeMarkers"
        [style.left.px]="getMarkerLeft(timeMarker)" [style.display] = "block">
        <p class="bar">|</p>
        <p class="label"
            (slide)="onTimeMarkerSlide(timeMarker.idNum, $event)"
            (click)="onTimeMarkerClick(timeMarker.idNum)"
            (dblclick)="onTimeMarkerDblClick(timeMarker.idNum)"
            >{{ timeMarker.text }}</p>
    </div>
</div>
