:host {
    left: 8px;
    right: 8px;
    position: absolute;
}

.time-marker {
    position: absolute;
    left: 0px;
}

.time-marker p {
    position: block;
    margin: 0px;
    text-align: left;
}

.time-marker .bar {
    margin-top: 3px;
}

.time-marker .label {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
    background: white;
    border: 1px solid black;
    cursor: grab;
    user-select: none;
}

.time-marker .label:active {
    cursor: grabbing;
}
